@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
}

main{
  flex-grow: 1;
}

.bg-index{
  background: #2C2B4B;
  background: linear-gradient(0deg,rgba(44, 43, 75, 1) 0%, rgba(33, 37, 41, 1) 100%);
}

.bg-card{
  background: #2C2B4B;
  background: linear-gradient(180deg,rgba(44, 43, 75, 1) 0%, rgba(55, 52, 97, 1) 100%);
}
.color-secundario{
  color: #9ddacb
}
.card-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
}